
* {
  box-sizing: border-box;
}

html, .app, #root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  height: calc(100% - 5px);
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app__menu {
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 4px 0 #ccc;
}

.app__canvas-container {
  width: 100%;
  height: calc(100% - 80px);
  margin: 0 auto;
  overflow: scroll;
}

.app__canvas {
  margin: 0 auto;
}

.menu {
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  line-height: 80px;
  height: 80px;
}
.menu__left-section > button {
  margin-right: 12px;
}
.menu__center-section > button {
  margin-right: 6px;
  margin-left: 6px;

}
.menu__right-section > button {
  margin-left: 12px;
}
.menu__left-section, .menu__center-section, .menu__right-section {
  width: 33.3%;
  display: flex;
  align-items: center;
}
.menu__center-section {
  justify-content: center;
}
.menu__right-section {
  justify-content: flex-end;
}

.MuiButton-endIcon {
  margin-left: 0 !important;
}

.MuiButton-startIcon {
  margin-right: 0 !important;
}

.menu__left-section .MuiButton-label {
  height: 20px;
  font-size: 12px;
}